<div class="add-inventory">
    <h1><%= title %></h1>
    <%- messages() %>

    <form action="/inv/update" method="post" novalidate id="updateForm">

        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>

        <div class="make-model-year">
            <label for="inv_make">Make</label>
            <input type="text" name="inv_make" id="inv_make" required value="<%= inv_make %>">

            <label for="inv_model">Model</label>
            <input type="text" name="inv_model" id="inv_model" required value="<%= inv_model %>">

            <label for="inv_year">Year</label>
            <input type="number" name="inv_year" id="inv_year" required value="<%= inv_year %>">
        </div>

        <label for="inv_description">Description</label>
        <textarea name="inv_description" id="inv_description" required><%= inv_description %></textarea>

        <label for="inv_image">Image Path</label>
        <input type="text" name="inv_image" id="inv_image" required value="<%= inv_image %>">

        <label for="inv_thumbnail">Thumbnail Path</label>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="<%= inv_thumbnail %>">

        <div class="price-miles-color">
            <label for="inv_price">Price</label>
            <input type="number" name="inv_price" id="inv_price" required value="<%= inv_price %>">

            <label for="inv_miles">Miles</label>
            <input type="number" name="inv_miles" id="inv_miles" required value="<%= inv_miles %>">

            <label for="inv_color">Color</label>
            <input type="text" name="inv_color" id="inv_color" required value="<%= inv_color %>">
        </div>

        <label for="classification_id">Classification</label>
        <%- classificationSelect %>

        <button type="submit" disabled>Update Vehicle</button>
    </form>
    <script src="/js/inv-update.js"></script>
</div>